# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# everyone keeps his own data files
*.csv
Exercise3_KWS/data/*
Exercise4_SV/data/*
Exercise4_SV/TestSignatures/*
